<div class="question">
  <form [formGroup]="aformGroup" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field
        appearance="standard"
        style="display: flex; justify-content: center"
      >
        <mat-label>name</mat-label>
        <!-- <mat-label>Name</mat-label> -->
        <input matInput formControlName="name" placeholder="name" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint:name</mat-hint>
        <!-- <mat-error *ngIf="">{{getErrorMessage()}}</mat-error> -->
        <mat-error *ngIf="aformGroup.controls.name.hasError('required')"
          >name is required</mat-error
        >
      </mat-form-field>
    </p>
    <p>
      <mat-form-field
        appearance="fill"
        style="display: flex; justify-content: center"
      >
        <mat-label>email</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="Placeholder@gmail.com"
        />
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-hint>Hint:Email</mat-hint>
        <mat-error *ngIf="aformGroup.controls['email'].hasError('required')"
          >required
        </mat-error>
        <mat-error
          *ngIf="
            aformGroup.controls['email'].hasError('email') &&
            (aformGroup.controls['feedback'].dirty ||
              aformGroup.controls['feedback'].touched)
          "
        >
          invalid email
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field
        appearance="outline"
        style="display: flex; justify-content: center"
      >
        <mat-label>feedback</mat-label>
        <input
          matInput
          placeholder="random placeholder to fill up the words  requirement"
          formControlName="feedback"
        />
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-hint>Min 20 character</mat-hint>

        <mat-error *ngIf="aformGroup.controls.feedback.hasError('required')"
          >feedback is required</mat-error
        >

        <mat-error
          *ngIf="
            aformGroup.controls['feedback'].hasError('required') &&
            (aformGroup.controls['feedback'].dirty ||
              aformGroup.controls['feedback'].touched)
          "
        >
          better wayt of error
        </mat-error>
      </mat-form-field>
    </p>

    <div style="display: flex; justify-content: center">
      <button mat-raised-button (click)="check()">check</button>
      <button mat-raised-button type="submit" [disabled]="!aformGroup.valid">
        Submit
      </button>
    </div>
  </form>
</div>
