<mat-toolbar
  color="primary"
  class="expanded-toolbar"
  style="position: relative;"
>
  <mat-toolbar-row>


    <button  class="gap" mat-button routerLink="/">
        <mat-icon>home</mat-icon> 
      </button> 
      
    <button  class="gap" mat-button routerLink="/feedback">
      <mat-icon>feedback</mat-icon> 
    </button> 

    <button mat-button routerLink="/login" style="align-items: right;">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>


  </mat-toolbar-row>
</mat-toolbar>